<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AN_clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{488,117},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JS_dian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{510,32},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JZ_DH1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{468,439},{29,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JZ_DH2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{21,27}</string>
                <key>textureRect</key>
                <string>{{468,468},{21,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JZ_DH3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,27}</string>
                <key>spriteSourceSize</key>
                <string>{24,27}</string>
                <key>textureRect</key>
                <string>{{177,458},{24,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JZ_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,66}</string>
                <key>spriteSourceSize</key>
                <string>{174,66}</string>
                <key>textureRect</key>
                <string>{{292,403},{174,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JZ_ge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{148,458},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JZ_kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,81}</string>
                <key>spriteSourceSize</key>
                <string>{188,81}</string>
                <key>textureRect</key>
                <string>{{405,1},{188,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JZ_xuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,35}</string>
                <key>spriteSourceSize</key>
                <string>{32,35}</string>
                <key>textureRect</key>
                <string>{{468,402},{32,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>an_fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,26}</string>
                <key>spriteSourceSize</key>
                <string>{66,26}</string>
                <key>textureRect</key>
                <string>{{1,458},{66,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>an_jixu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,26}</string>
                <key>spriteSourceSize</key>
                <string>{66,26}</string>
                <key>textureRect</key>
                <string>{{392,374},{66,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>an_yqs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{131,458},{31,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>an_zhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,26}</string>
                <key>spriteSourceSize</key>
                <string>{50,26}</string>
                <key>textureRect</key>
                <string>{{460,374},{50,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{467,241},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,14}</string>
                <key>spriteSourceSize</key>
                <string>{48,14}</string>
                <key>textureRect</key>
                <string>{{467,191},{48,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_JZ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{268,252},{14,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_XC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{14,13}</string>
                <key>textureRect</key>
                <string>{{497,468},{14,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{203,458},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,23}</string>
                <key>spriteSourceSize</key>
                <string>{29,23}</string>
                <key>textureRect</key>
                <string>{{488,1},{29,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_gold12x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{427,471},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{488,55},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,21}</string>
                <key>spriteSourceSize</key>
                <string>{20,21}</string>
                <key>textureRect</key>
                <string>{{488,32},{20,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{247,458},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{407,471},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{488,97},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{267,458},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{287,471},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_x5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{307,471},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{327,471},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_x7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{347,471},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{367,471},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{387,471},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiangli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,135}</string>
                <key>spriteSourceSize</key>
                <string>{249,135}</string>
                <key>textureRect</key>
                <string>{{268,1},{249,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{225,458},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tanchuang_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,98}</string>
                <key>spriteSourceSize</key>
                <string>{149,98}</string>
                <key>textureRect</key>
                <string>{{292,252},{149,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,57}</string>
                <key>spriteSourceSize</key>
                <string>{60,57}</string>
                <key>textureRect</key>
                <string>{{405,191},{60,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochu_JS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,22}</string>
                <key>spriteSourceSize</key>
                <string>{60,22}</string>
                <key>textureRect</key>
                <string>{{69,458},{60,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochu_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,289}</string>
                <key>spriteSourceSize</key>
                <string>{188,289}</string>
                <key>textureRect</key>
                <string>{{1,268},{188,289}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yaogan_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,120}</string>
                <key>spriteSourceSize</key>
                <string>{119,120}</string>
                <key>textureRect</key>
                <string>{{392,252},{119,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yaogan_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,265}</string>
                <key>spriteSourceSize</key>
                <string>{265,265}</string>
                <key>textureRect</key>
                <string>{{1,1},{265,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{488,77},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{512,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f902f1bd3577f532b1a13880ba701ca:6ab886c48cc868ce86c286bb9bd4f713:4d1c460786d5294715f9f3e199a00761$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
