<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{150,1},{12,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{172,1},{12,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{194,1},{12,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{216,1},{12,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{59,13},{12,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{81,13},{12,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{103,13},{12,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{125,13},{12,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{147,15},{12,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{169,15},{12,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JS_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,5}</string>
                <key>spriteSourceSize</key>
                <string>{3,5}</string>
                <key>textureRect</key>
                <string>{{211,15},{3,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JS_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,5}</string>
                <key>spriteSourceSize</key>
                <string>{3,5}</string>
                <key>textureRect</key>
                <string>{{202,26},{3,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JS_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,5}</string>
                <key>spriteSourceSize</key>
                <string>{3,5}</string>
                <key>textureRect</key>
                <string>{{59,27},{3,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JS_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,5}</string>
                <key>spriteSourceSize</key>
                <string>{3,5}</string>
                <key>textureRect</key>
                <string>{{66,27},{3,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JS_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,5}</string>
                <key>spriteSourceSize</key>
                <string>{3,5}</string>
                <key>textureRect</key>
                <string>{{73,27},{3,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JS_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,5}</string>
                <key>spriteSourceSize</key>
                <string>{3,5}</string>
                <key>textureRect</key>
                <string>{{80,27},{3,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JS_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,5}</string>
                <key>spriteSourceSize</key>
                <string>{3,5}</string>
                <key>textureRect</key>
                <string>{{87,27},{3,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JS_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,5}</string>
                <key>spriteSourceSize</key>
                <string>{3,5}</string>
                <key>textureRect</key>
                <string>{{94,27},{3,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JS_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,5}</string>
                <key>spriteSourceSize</key>
                <string>{3,5}</string>
                <key>textureRect</key>
                <string>{{101,27},{3,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JS_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,5}</string>
                <key>spriteSourceSize</key>
                <string>{3,5}</string>
                <key>textureRect</key>
                <string>{{108,27},{3,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JS_dian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{230,1},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{48,12},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,9}</string>
                <key>spriteSourceSize</key>
                <string>{5,9}</string>
                <key>textureRect</key>
                <string>{{191,26},{5,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,9}</string>
                <key>spriteSourceSize</key>
                <string>{7,9}</string>
                <key>textureRect</key>
                <string>{{1,24},{7,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,9}</string>
                <key>spriteSourceSize</key>
                <string>{8,9}</string>
                <key>textureRect</key>
                <string>{{48,23},{8,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,9}</string>
                <key>spriteSourceSize</key>
                <string>{8,9}</string>
                <key>textureRect</key>
                <string>{{191,15},{8,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,9}</string>
                <key>spriteSourceSize</key>
                <string>{6,9}</string>
                <key>textureRect</key>
                <string>{{222,23},{6,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,9}</string>
                <key>spriteSourceSize</key>
                <string>{7,9}</string>
                <key>textureRect</key>
                <string>{{12,24},{7,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,9}</string>
                <key>spriteSourceSize</key>
                <string>{8,9}</string>
                <key>textureRect</key>
                <string>{{201,15},{8,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,9}</string>
                <key>spriteSourceSize</key>
                <string>{8,9}</string>
                <key>textureRect</key>
                <string>{{211,23},{8,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,9}</string>
                <key>spriteSourceSize</key>
                <string>{7,9}</string>
                <key>textureRect</key>
                <string>{{23,24},{7,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,9}</string>
                <key>spriteSourceSize</key>
                <string>{32,9}</string>
                <key>textureRect</key>
                <string>{{1,13},{32,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,10}</string>
                <key>spriteSourceSize</key>
                <string>{26,10}</string>
                <key>textureRect</key>
                <string>{{67,1},{26,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,10}</string>
                <key>spriteSourceSize</key>
                <string>{33,10}</string>
                <key>textureRect</key>
                <string>{{1,1},{33,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,10}</string>
                <key>spriteSourceSize</key>
                <string>{26,10}</string>
                <key>textureRect</key>
                <string>{{95,1},{26,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_x5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,10}</string>
                <key>spriteSourceSize</key>
                <string>{19,10}</string>
                <key>textureRect</key>
                <string>{{36,12},{19,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,10}</string>
                <key>spriteSourceSize</key>
                <string>{25,10}</string>
                <key>textureRect</key>
                <string>{{123,1},{25,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_x7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,9}</string>
                <key>spriteSourceSize</key>
                <string>{29,9}</string>
                <key>textureRect</key>
                <string>{{36,1},{29,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shuzi.png</string>
            <key>size</key>
            <string>{232,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa6053b702c04615f912f9413ea13f6f:ab688dbf9ae1fedd7988a42034e640b2:8dfcd9ca55e684c31f5e6d4475a4bd24$</string>
            <key>textureFileName</key>
            <string>shuzi.png</string>
        </dict>
    </dict>
</plist>
